# 虚拟环境
venv/
env/
.venv/

# pytest缓存
.pytest_cache/

# 报告、截图、日志（可以选择不上传，运行自动生成）
screenshots/
reports/
logs/
allure-report/
allure-results/

# python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE配置
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
